In [54]:
import pandas as pd
real_estate_ny=pd.read_excel('./dataset/real_estate_nky.xlsx')

In [55]:
real_estate_ny.columns=real_estate_ny.columns.str.replace('/house_listing/', '')

In [56]:
real_estate_ny

,agent_phone,agent,basement,bath_1/dimension,bath_1/level,bath_2/dimension,bath_2/level,bath_3/dimension,bath_3/level,bath_4/dimension,...,recreation_room/level,rooms,rooms/#agg,school_dist,semiannual_taxes,sewer,study/dimension,study/level,suburb,water
0,(606) 525-7000,FRED BURCH,Full,FULL,1,FULL,1,NaN,NaN,NaN,...,NaN,6,6,ERLANGER,$0,Public,NaN,NaN,ELSMERE,Public
1,(606) 341-9000,STEVE TUCKER,Part,FULL,1,FULL,1,PART,L,NaN,...,NaN,6,6,ERLANGER,$0,Public,NaN,NaN,ELSMERE,Public
2,(606) 371-4777,JOAN DIXON,Full,FULL,1,NaN,NaN,NaN,NaN,NaN,...,NaN,5,5,ERLANGER,$*,Public,NaN,NaN,ELSMERE,Public
3,(606) 372-6000,PATRICIA VALENTINE,Crawl,FULL,1,NaN,NaN,NaN,NaN,NaN,...,NaN,4,4,ERLANGER,$#,Public,NaN,NaN,ELSMERE,Public
4,(606) 341-7400,DAVE WHALEN,Part,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6,6,ERLANGER,$N/A,Public,11 X 8,2,ELSMERE,Public
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1905,(606) 824-9800,JUDY WELLS,None,FULL,3,FULL,3,NaN,NaN,NaN,...,NaN,5,5,ERLANGER,$0,Public,NaN,NaN,ERLANGER LAKES,Public
1906,(606) 635-7388,STEPHEN B JELEN,None,FULL,1,FULL,1,NaN,NaN,NaN,...,NaN,5,5,ERLANGER,$0,Public,NaN,NaN,ERLANGER,Public
1907,(606) 586-4419,MIKE REEVES,Full,FULL,U,FULL,L,NaN,NaN,NaN,...,NaN,7,7,ERLANGER,$0,Public,NaN,NaN,ERLANGER,Public
1908,(513) 469-2424,AL HENCHECK,None,FULL,1,FULL,1,NaN,NaN,NaN,...,NaN,5,5,BOONE COUNT,$NOT ASD,Public,NaN,NaN,FLORENCE,Public
1909,(606) 781-5000,CATHY HORNSBY,None,FULL,1,FULL,1,NaN,NaN,NaN,...,NaN,5,5,BROOKSVILLE,$0,Septic,NaN,NaN,BRACKEN,Public

In [57]:
real_estate_texas=pd.read_excel('./dataset/real_estate_texas.xlsx')

In [58]:
real_estate_texas.columns=real_estate_texas.columns.str.replace('/house_listing/', '')

In [59]:
real_estate_texas

,#id,agent_information/email,agent_information/fax,agent_information/mobile,agent_information/name,agent_information/office,agent_information/voice_mail,approx_acres,approx_acres/#agg,approx_lot_size,...,stories,stories/#agg,sub-division,to_be_built,type,water_coop,waterfront,well,year_built,year_built/#agg
0,1,NaN,NaN,NaN,Larry Pruneda,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Sarita Park #1,NaN,Residential,NaN,NaN,NaN,NaN,NaN
1,2,JLee225@aol.com,(361)853-9095,NaN,Jerry Lee,(361)853-2121,NaN,NaN,NaN,60x127,...,1.0,1.0,Baywood,NaN,Residential,NaN,NaN,NaN,1982.0,1982.0
2,2,JLee225@aol.com,(361)853-9095,NaN,Jerry Lee,(361)853-2121,NaN,NaN,NaN,60x127,...,1.0,NaN,Baywood,NaN,Residential,NaN,NaN,NaN,1982.0,NaN
3,2,JLee225@aol.com,(361)853-9095,NaN,Jerry Lee,(361)853-2121,NaN,NaN,NaN,60x127,...,1.0,NaN,Baywood,NaN,Residential,NaN,NaN,NaN,1982.0,NaN
4,3,C21Linda@excite.com,(361)592-9300,NaN,Linda Quandt,(361)595-7653,NaN,NaN,NaN,75X140,...,1.0,1.0,First Addition,NaN,Residential,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8281,2157,irona@maxxrep.com,(254)634-3291,(254)289-4945,Irona Thompson,(254)554-2121,(800)840-3313 7833,0.2,NaN,120 x 78,...,1.0,NaN,Willow Ridge,NaN,Residential,NaN,NaN,NaN,1997.0,NaN
8282,2157,irona@maxxrep.com,(254)634-3291,(254)289-4945,Irona Thompson,(254)554-2121,(800)840-3313 7833,0.2,NaN,120 x 78,...,1.0,NaN,Willow Ridge,NaN,Residential,NaN,NaN,NaN,1997.0,NaN
8283,2157,irona@maxxrep.com,(254)634-3291,(254)289-4945,Irona Thompson,(254)554-2121,(800)840-3313 7833,0.2,NaN,120 x 78,...,1.0,NaN,Willow Ridge,NaN,Residential,NaN,NaN,NaN,1997.0,NaN
8284,2157,irona@maxxrep.com,(254)634-3291,(254)289-4945,Irona Thompson,(254)554-2121,(800)840-3313 7833,0.2,NaN,120 x 78,...,1.0,NaN,Willow Ridge,NaN,Residential,NaN,NaN,NaN,1997.0,NaN
8285,2157,irona@maxxrep.com,(254)634-3291,(254)289-4945,Irona Thompson,(254)554-2121,(800)840-3313 7833,0.2,NaN,120 x 78,...,1.0,NaN,Willow Ridge,NaN,Residential,NaN,NaN,NaN,1997.0,NaN

In [62]:
real_estate_winder=pd.read_excel('./dataset/real_estate_windermere.xlsx')

In [63]:
real_estate_winder.columns=real_estate_winder.columns.str.replace('/house_listing/', '')

In [64]:
real_estate_winder

,#id,ac,address,amenities/exterior,amenities/fireplace,amenities/floors,amenities/garage,amenities/interior,amenities/lot_description,amenities/lot_size,...,more_info/office_phone,more_info/pager,price,schools/elementary,schools/high_school,schools/middle_school,sqft,st,year_built,year_built/#agg
0,1,Not Listed,NaN,"Deck, RV-Park, Sprinkler System,",2,"Wall to Wall Carpet,",Parking for 2 Car(s),Security System,NaN,2.31 Acres,...,NaN,NaN,"$259,900",GLIDE,GLIDE,GLIDE,2318,OR,1971.0,1971.0
1,2,yes,NaN,"RV-Park,",1,"Wall to Wall Carpet,",Parking for 2 Car(s),Not Listed,200 X 230,1.10 Acres,...,NaN,NaN,"$268,000",ROSE,ROSEBURG,JOLANE,2750,OR,1953.0,1953.0
2,3,yes,NaN,"Deck, Garden,",1,Not Listed,Parking for 4 Car(s),Not Listed,8.13 AC,8.13 Acres,...,NaN,NaN,"$269,900",CALL AGENT,ROSEBURG,NaN,2088,OR,1989.0,1989.0
3,4,yes,NaN,"RV-Park, Deck, Sprinkler System, Tool Sheed",NaN,"Wall to Wall Carpet,",Parking for 0 Car(s),Not Listed,IRREGULAR,94.01 Acres,...,NaN,NaN,"$275,000",HUCREST,ROSEBURG,NaN,1992,OR,1993.0,1993.0
4,5,yes,NaN,"Deck, Garden, Sprinkler System, Patio,",1,"Hardwood Floors,",Parking for 2 Car(s),Not Listed,1.25 ACRES,1.25 Acres,...,NaN,NaN,"$275,000",HUCREST,ROSEBURG,JOLANE,4188,OR,1977.0,1977.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5303,3001,NaN,1463 Johnny Long Road,NaN,NaN,NaN,NaN,NaN,NaN,0.00 SQFT,...,NaN,NaN,"$199,900",NaN,NaN,NaN,NaN,ID,NaN,NaN
5304,3001,NaN,1463 Johnny Long Road,NaN,NaN,NaN,NaN,NaN,NaN,0.00 SQFT,...,NaN,NaN,"$199,900",NaN,NaN,NaN,NaN,ID,NaN,NaN
5305,3001,NaN,1463 Johnny Long Road,NaN,NaN,NaN,NaN,NaN,NaN,0.00 SQFT,...,NaN,NaN,"$199,900",NaN,NaN,NaN,NaN,ID,NaN,NaN
5306,3001,NaN,1463 Johnny Long Road,NaN,NaN,NaN,NaN,NaN,NaN,0.00 SQFT,...,NaN,NaN,"$199,900",NaN,NaN,NaN,NaN,ID,NaN,NaN
5307,3001,NaN,1463 Johnny Long Road,NaN,NaN,NaN,NaN,NaN,NaN,0.00 SQFT,...,208-263-8400,NaN,"$199,900",NaN,NaN,NaN,NaN,ID,NaN,NaN