In [20]:
import json
import pandas as pd

In [21]:
train=pd.read_excel('./train_thalia.xlsx')

In [22]:
train

,source,target,des1,des2,label
0,washu./Course/Title,umich./course/prerequisite,washu. Course Title,umich. course prerequisite,0
1,nyu./Course/Days,gatech./Course/Code,nyu. Course Days,gatech. Course Code,0
2,umich./course/@subject,fiu./Course/Prereq,umich. course @subject,fiu. Course Prereq,0
3,hku./Course/CourseSite,harvard./Course/Prereqs,hku. Course CourseSite,harvard. Course Prereqs,0
4,yale./Course/Instructor,gatech./Course/In/#agg,yale. Course Instructor,gatech. Course In #agg,0
...,...,...,...,...,...
749,fsu./Course/Detail/Bldg/Comments,arizona./Course/@Code,fsu. Course Detail Bldg Comments,arizona. Course @Code,0
750,ucla./Course/CourseInfo/Type,rit./Course/CourseNo,ucla. Course CourseInfo Type,rit. Course CourseNo,0
751,fsu./Course/Detail/Bldg/Comments,arizona./Course/Instructor,fsu. Course Detail Bldg Comments,arizona. Course Instructor,0
752,nyu./Course/No,ksu./Course/Details/RefNo,nyu. Course No,ksu. Course Details RefNo,0
753,bu./course/courseInfo/@code,arizona./Course/Day,bu. course courseInfo @code,arizona. Course Day,0

In [23]:
match=pd.read_excel('match.xlsx')
match=match.loc[:,~match.columns.str.match("Unnamed")]
match

,source,target,size1,size2,type1,type2,label
0,bu./course/college,arizona./Course/@Code,3,3,string,string,0
1,bu./course/college,arizona./Course/Day,3,4,string,date,0
2,bu./course/college,arizona./Course/Instructor,3,15,string,string,0
3,bu./course/college,arizona./Course/Place,3,12,string,string,0
4,bu./course/college,arizona./Course/Time,3,8,string,time,0
...,...,...,...,...,...,...,...
997,fsu./Course/Section/#agg,arizona./Course/@Code,30,3,integer,string,0
998,fsu./Course/Section/#agg,arizona./Course/Day,30,4,integer,date,0
999,fsu./Course/Section/#agg,arizona./Course/Instructor,30,15,integer,string,0
1000,fsu./Course/Section/#agg,arizona./Course/Place,30,12,integer,string,0
1001,fsu./Course/Section/#agg,arizona./Course/Time,30,8,integer,time,0

In [24]:
train=pd.merge(match,train,on=['source','target']).drop(columns=['des1','des2'])
train

,source,target,size1,size2,type1,type2,label_x,label_y
0,bu./course/college,arizona./Course/Day,3,4,string,date,0,0
1,bu./course/college,arizona./Course/Instructor,3,15,string,string,0,0
2,bu./course/college,arizona./Course/Place,3,12,string,string,0,0
3,bu./course/college,arizona./Course/Time,3,8,string,time,0,0
4,bu./course/courseInfo/@code,arizona./Course/@Code,7,3,string,string,0,0
...,...,...,...,...,...,...,...,...
749,fsu./Course/Section/#agg,arizona./Course/@Code,30,3,integer,string,0,0
750,fsu./Course/Section/#agg,arizona./Course/Day,30,4,integer,date,0,0
751,fsu./Course/Section/#agg,arizona./Course/Instructor,30,15,integer,string,0,0
752,fsu./Course/Section/#agg,arizona./Course/Place,30,12,integer,string,0,0
753,fsu./Course/Section/#agg,arizona./Course/Time,30,8,integer,time,0,0

In [25]:
type1=pd.get_dummies(train['type1'])
type1=type1.add_suffix('_x')
type2=pd.get_dummies(train['type2'])
type2
type2=type2.add_suffix('_y')
type12=pd.concat([type1,type2],axis=1,join='inner')
type12

     date_x  integer_x  string_x  time_x  date_y  integer_y  string_y  time_y
0         0          0         1       0       1          0         0       0
1         0          0         1       0       0          0         1       0
2         0          0         1       0       0          0         1       0
3         0          0         1       0       0          0         0       1
4         0          0         1       0       0          0         1       0
..      ...        ...       ...     ...     ...        ...       ...     ...
749       0          1         0       0       0          0         1       0
750       0          1         0       0       1          0         0       0
751       0          1         0       0       0          0         1       0
752       0          1         0       0       0          0         1       0
753       0          1         0       0       0          0         0       1

[754 rows x 8 columns]

In [26]:
train=pd.concat([train,type12],axis=1,join='inner')
train_label=train['label_x']
train=train.drop(columns=['source','target','type2','type1','label_x','label_y'])
train

,size1,size2,date_x,integer_x,string_x,time_x,date_y,integer_y,string_y,time_y
0,3,4,0,0,1,0,1,0,0,0
1,3,15,0,0,1,0,0,0,1,0
2,3,12,0,0,1,0,0,0,1,0
3,3,8,0,0,1,0,0,0,0,1
4,7,3,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
749,30,3,0,1,0,0,0,0,1,0
750,30,4,0,1,0,0,1,0,0,0
751,30,15,0,1,0,0,0,0,1,0
752,30,12,0,1,0,0,0,0,1,0
753,30,8,0,1,0,0,0,0,0,1

In [51]:
f=open('./thalia_SMAT/4_train_raw_outputs.json',)
movie_train_raw = json.load(f)
movie_train_raw.keys()
for b in range(3):
    a=movie_train_raw['batch_'+str(b)]
    if not b==0:
        movie_train_raw['batch_0'].extend(a)

In [52]:
len(movie_train_raw['batch_0'])
import torch
import torch.nn as nn
tversion=torch.tensor(movie_train_raw['batch_0'])
m=torch.nn.Softmax(dim=1)
output_movie_train=[i[1] for i in m(tversion).tolist()]
output_movie_train

[0.45127731561660767,
 0.33066314458847046,
 0.4593294560909271,
 0.45413514971733093,
 0.4164014160633087,
 0.4910459816455841,
 0.4789181649684906,
 0.4854496717453003,
 0.48354148864746094,
 0.3719291090965271,
 0.5720481276512146,
 0.4704422354698181,
 0.32429781556129456,
 0.507595956325531,
 0.4082507789134979,
 0.33583909273147583,
 0.35953134298324585,
 0.4311847388744354,
 0.44668158888816833,
 0.4819907546043396,
 0.4202027916908264,
 0.4731219410896301,
 0.4467619061470032,
 0.4427303969860077,
 0.39084702730178833,
 0.42606186866760254,
 0.4163401424884796,
 0.47364237904548645,
 0.33952051401138306,
 0.49104514718055725,
 0.4290059506893158,
 0.4168585538864136,
 0.4632987380027771,
 0.33744147419929504,
 0.4707115590572357,
 0.41349318623542786,
 0.3889934718608856,
 0.4970579445362091,
 0.4563676416873932,
 0.32396337389945984,
 0.30034339427948,
 0.40055015683174133,
 0.32957279682159424,
 0.5372946858406067,
 0.49207472801208496,
 0.47912120819091797,
 0.37664079666137695,
 0.5062111020088196,
 0.4125062823295593,
 0.28001970052719116,
 0.3344532251358032,
 0.3582780659198761,
 0.45342811942100525,
 0.3178836703300476,
 0.4545435905456543,
 0.46041300892829895,
 0.46065640449523926,
 0.3147088289260864,
 0.5000098943710327,
 0.4280271530151367,
 0.40532028675079346,
 0.43249598145484924,
 0.49614500999450684,
 0.43653789162635803,
 0.5071651935577393,
 0.4897133708000183,
 0.4276295304298401,
 0.4932476580142975,
 0.49187543988227844,
 0.4328376352787018,
 0.4060174524784088,
 0.496848464012146,
 0.3741980195045471,
 0.3960564136505127,
 0.3441714942455292,
 0.48573037981987,
 0.33959275484085083,
 0.35259565711021423,
 0.4527384042739868,
 0.3344425857067108,
 0.4542194902896881,
 0.47628751397132874,
 0.3995763957500458,
 0.47147253155708313,
 0.49465155601501465,
 0.4781143069267273,
 0.3287067115306854,
 0.3431471586227417,
 0.33067870140075684,
 0.3119683265686035,
 0.5527024865150452,
 0.29617568850517273,
 0.5394628643989563,
 0.43969595432281494,
 0.37962186336517334,
 0.5052156448364258,
 0.3232020437717438,
 0.5732529759407043,
 0.5271594524383545,
 0.4746576249599457,
 0.48893991112709045,
 0.4179198741912842,
 0.36416494846343994,
 0.33809712529182434,
 0.38559967279434204,
 0.41868895292282104,
 0.46488359570503235,
 0.4449605941772461,
 0.3621850311756134,
 0.47011083364486694,
 0.46466726064682007,
 0.388588547706604,
 0.2982378304004669,
 0.32378867268562317,
 0.4832911193370819,
 0.3290840983390808,
 0.5199368000030518,
 0.4052940309047699,
 0.5026368498802185,
 0.48662880063056946,
 0.4333075284957886,
 0.4511620104312897,
 0.45631808042526245,
 0.44647473096847534,
 0.36127975583076477,
 0.4364791512489319,
 0.37177157402038574,
 0.4473462998867035,
 0.37141066789627075,
 0.33653873205184937,
 0.4441145658493042,
 0.47624000906944275,
 0.42632579803466797,
 0.3713698983192444,
 0.41590002179145813,
 0.4613156020641327,
 0.40923047065734863,
 0.3359154760837555,
 0.44420140981674194,
 0.3701387047767639,
 0.37555578351020813,
 0.3354365825653076,
 0.29061225056648254,
 0.44927215576171875,
 0.47978442907333374,
 0.3326302468776703,
 0.443115234375,
 0.3751896321773529,
 0.30259010195732117,
 0.33962056040763855,
 0.33067283034324646,
 0.3755025565624237,
 0.4658450782299042,
 0.41405147314071655,
 0.546210765838623,
 0.37550124526023865,
 0.4978167414665222,
 0.42534950375556946,
 0.38671961426734924,
 0.38393983244895935,
 0.5037518739700317,
 0.3716830611228943,
 0.45294296741485596,
 0.34863463044166565,
 0.29760339856147766,
 0.48558226227760315,
 0.45910534262657166,
 0.4233793318271637,
 0.3171231150627136,
 0.44212350249290466,
 0.4551931619644165,
 0.4226219952106476,
 0.45847058296203613,
 0.3248099982738495,
 0.4954376518726349,
 0.29461869597435,
 0.4680299758911133,
 0.430117130279541,
 0.4437265694141388,
 0.45402225852012634,
 0.4487209916114807,
 0.280000776052475,
 0.29613038897514343,
 0.3903278708457947,
 0.4865163564682007,
 0.45101985335350037,
 0.47890689969062805,
 0.4386497735977173,
 0.35057389736175537,
 0.4019671678543091,
 0.49094638228416443,
 0.43406039476394653,
 0.3057613968849182,
 0.33789369463920593,
 0.5601111054420471,
 0.44480636715888977,
 0.35115545988082886,
 0.30315956473350525,
 0.4768349230289459,
 0.526957094669342,
 0.43027982115745544,
 0.34312623739242554,
 0.4323538839817047,
 0.32296523451805115,
 0.33802714943885803,
 0.44492125511169434,
 0.4259676933288574,
 0.5111048221588135,
 0.4288594424724579,
 0.47985419631004333,
 0.321875661611557,
 0.48653367161750793,
 0.2905636131763458,
 0.47724178433418274,
 0.40064236521720886,
 0.5133298635482788,
 0.3961898982524872,
 0.46383383870124817,
 0.33557385206222534,
 0.4850141704082489,
 0.4223381578922272,
 0.3806731104850769,
 0.46048206090927124,
 0.4133821427822113,
 0.46592509746551514,
 0.5135633945465088,
 0.29755282402038574,
 0.40919724106788635,
 0.45239895582199097,
 0.4716513454914093,
 0.3192616105079651,
 0.44380438327789307,
 0.47146087884902954,
 0.3133392333984375,
 0.359637975692749,
 0.27878662943840027,
 0.4689127802848816,
 0.4827185273170471,
 0.3431626856327057,
 0.4526187777519226,
 0.4971669316291809,
 0.29776808619499207,
 0.32080206274986267,
 0.41999953985214233,
 0.424383282661438,
 0.32761138677597046,
 0.4833790957927704,
 0.5099873542785645,
 0.4693307876586914,
 0.43640318512916565,
 0.40344515442848206,
 0.3942869007587433,
 0.3198140263557434,
 0.4499650299549103,
 0.5007191300392151,
 0.4847760498523712,
 0.535422146320343,
 0.3359222114086151,
 0.4543211758136749,
 0.5058972835540771,
 0.39017122983932495,
 0.4235396087169647,
 0.4317043721675873,
 0.48294785618782043,
 0.33770468831062317,
 0.3959980309009552,
 0.42284703254699707,
 0.3445983827114105,
 0.42601409554481506,
 0.5313426852226257,
 0.33306774497032166,
 0.45755699276924133,
 0.39801228046417236,
 0.3286946713924408,
 0.39188066124916077,
 0.39119789004325867,
 0.45275014638900757,
 0.35387757420539856,
 0.3807772099971771,
 0.4463796019554138,
 0.29760876297950745,
 0.4093148112297058,
 0.4160938262939453,
 0.32671454548835754,
 0.3747740685939789,
 0.3981952965259552,
 0.34638267755508423,
 0.4396498501300812,
 0.3197849988937378,
 0.327488511800766,
 0.4163859188556671,
 0.3688451945781708,
 0.4193064868450165,
 0.5190712809562683,
 0.47391486167907715,
 0.4115748703479767,
 0.477645605802536,
 0.4911315441131592,
 0.38003063201904297,
 0.27739933133125305,
 0.3757936954498291,
 0.33674493432044983,
 0.36597317457199097,
 0.3012455403804779,
 0.2984600365161896,
 0.44980964064598083,
 0.35733816027641296,
 0.4509287476539612,
 0.45551690459251404,
 0.3682611286640167,
 0.33292391896247864,
 0.44617903232574463,
 0.5010491609573364,
 0.5377228260040283,
 0.36082887649536133,
 0.4385121166706085,
 0.34781426191329956,
 0.43640583753585815,
 0.45929375290870667,
 0.4280133843421936,
 0.3302346467971802,
 0.42570623755455017,
 0.3707152009010315,
 0.5322067737579346,
 0.4677657186985016,
 0.43742984533309937,
 0.4650000035762787,
 0.3712537884712219,
 0.43246740102767944,
 0.3530513346195221,
 0.46315237879753113,
 0.41247689723968506,
 0.45254361629486084,
 0.4626080095767975,
 0.47270384430885315,
 0.44770902395248413,
 0.42332297563552856,
 0.3678395748138428,
 0.3702484965324402,
 0.3784671127796173,
 0.349604994058609,
 0.4649342894554138,
 0.32718488574028015,
 0.4124053120613098,
 0.4846152663230896,
 0.3320825397968292,
 0.40612125396728516,
 0.4733600914478302,
 0.4438403248786926,
 0.35356441140174866,
 0.40653786063194275,
 0.5122490525245667,
 0.4589184820652008,
 0.5427529811859131,
 0.4678117334842682,
 0.325280100107193,
 0.3385515809059143,
 0.3696761131286621,
 0.4130989611148834,
 0.40635207295417786,
 0.43627235293388367,
 0.3030174672603607,
 0.4471341371536255,
 0.5246544480323792,
 0.4878973662853241,
 0.46997085213661194,
 0.4786631166934967,
 0.5390623807907104,
 0.47961342334747314,
 0.35388076305389404,
 0.37291571497917175,
 0.34806832671165466,
 0.4659236967563629,
 0.3423829972743988,
 0.4901735782623291,
 0.4759399890899658,
 0.40703484416007996,
 0.30400925874710083,
 0.4756453037261963,
 0.3152773976325989,
 0.4558733105659485,
 0.47167107462882996,
 0.43663519620895386,
 0.5104416012763977,
 0.42600977420806885,
 0.3449467122554779,
 0.3772333562374115,
 0.4508991539478302,
 0.2941785156726837,
 0.3189243972301483,
 0.49457240104675293,
 0.47260352969169617,
 0.3664422929286957,
 0.2795391082763672,
 0.42756691575050354,
 0.5313265323638916,
 0.45115983486175537,
 0.3130265474319458,
 0.4364791512489319,
 0.3181292414665222,
 0.410730242729187,
 0.32977917790412903,
 0.35432690382003784,
 0.3593291938304901,
 0.43192997574806213,
 0.36669281125068665,
 0.34054574370384216,
 0.399938702583313,
 0.44247081875801086,
 0.3508880138397217,
 0.3826529085636139,
 0.4482167363166809,
 0.4902583062648773,
 0.4645812213420868,
 0.4013833701610565,
 0.344833642244339,
 0.3390582203865051,
 0.45819327235221863,
 0.3288436233997345,
 0.45989662408828735,
 0.3299657702445984,
 0.33344408869743347,
 0.40883731842041016,
 0.4529649615287781,
 0.5215902924537659,
 0.5007980465888977,
 0.5337756872177124,
 0.4210241436958313,
 0.3802734613418579,
 0.5061138272285461,
 0.43822959065437317,
 0.46884533762931824,
 0.4708302319049835,
 0.44539716839790344,
 0.38267967104911804,
 0.4152052104473114,
 0.4637618958950043,
 0.46026888489723206,
 0.48362240195274353,
 0.42613503336906433,
 0.4465498626232147,
 0.431670606136322,
 0.4687962830066681,
 0.39287522435188293,
 0.3191893696784973,
 0.2896348834037781,
 0.4736584424972534,
 0.28470873832702637,
 0.45263928174972534,
 0.33330652117729187,
 0.4568406939506531,
 0.48108792304992676,
 0.4268409311771393,
 0.40617498755455017,
 0.41883406043052673,
 0.4340251684188843,
 0.48400700092315674,
 0.501721978187561,
 0.47130486369132996,
 0.436638742685318,
 0.4628603458404541,
 0.29262498021125793,
 0.42561274766921997,
 0.4508677124977112,
 0.46911558508872986,
 0.44115909934043884,
 0.48606136441230774,
 0.4719102382659912,
 0.4691482186317444,
 0.40762731432914734,
 0.4664168059825897,
 0.401604562997818,
 0.4820074141025543,
 0.4786472022533417,
 0.3268343508243561,
 0.36435776948928833,
 0.5105998516082764,
 0.34874966740608215,
 0.5082123279571533,
 0.5254402756690979,
 0.43488654494285583,
 0.3929905295372009,
 0.4471924901008606,
 0.4610757529735565,
 0.33682093024253845,
 0.43688562512397766,
 0.39354410767555237,
 0.32773759961128235,
 0.3270873725414276,
 0.47266843914985657,
 0.44722044467926025,
 0.3826196789741516,
 0.43830037117004395,
 0.4508762061595917,
 0.4775252640247345,
 0.38155311346054077,
 0.4629463851451874,
 0.3230747580528259,
 0.3193061053752899,
 0.39250120520591736,
 0.4988114833831787,
 0.49153172969818115,
 0.3813805878162384,
 0.34684818983078003,
 0.3434038758277893,
 0.34682828187942505,
 0.33257561922073364,
 0.4597141146659851,
 0.4267368018627167,
 0.4628216326236725,
 0.45325878262519836,
 0.42038947343826294,
 0.4502783417701721,
 0.31848999857902527,
 0.4375358521938324,
 0.45027080178260803,
 0.3619977533817291,
 0.43852636218070984,
 0.37700000405311584,
 0.39822250604629517,
 0.37559354305267334,
 0.44269460439682007,
 0.44298413395881653,
 0.4560450613498688,
 0.4813874363899231,
 0.35619592666625977,
 0.4749511778354645,
 0.4747476577758789,
 0.4687134325504303,
 0.4118700325489044,
 0.3067842125892639,
 0.415022075176239,
 0.411289244890213,
 0.4741586744785309,
 0.5175051689147949,
 0.40623828768730164,
 0.36257532238960266,
 0.41482606530189514,
 0.5654194951057434,
 0.40957650542259216,
 0.5239378213882446,
 0.48090294003486633,
 0.4626331031322479,
 0.4511905610561371,
 0.4662019610404968,
 0.4315192699432373,
 0.4364531338214874,
 0.3493691384792328,
 0.4223736524581909,
 0.3024425208568573,
 0.5702926516532898,
 0.41268208622932434,
 0.45784062147140503,
 0.3276880979537964,
 0.4086760878562927,
 0.4177340269088745,
 0.45738324522972107,
 0.5546055436134338,
 0.29894813895225525,
 0.45821213722229004,
 0.46449917554855347,
 0.40215617418289185,
 0.4712625741958618,
 0.3722131550312042,
 0.3686215877532959,
 0.33114853501319885,
 0.4798641800880432,
 0.372805118560791,
 0.43780624866485596,
 0.46300381422042847,
 0.4482541084289551,
 0.48510801792144775,
 0.35073643922805786,
 0.430805504322052,
 0.3619230091571808,
 0.46198129653930664,
 0.4736781418323517,
 0.42927882075309753,
 0.4699113965034485,
 0.5430657863616943,
 0.4456271827220917,
 0.40504762530326843,
 0.45627203583717346,
 0.4588461220264435,
 0.3946760892868042,
 0.33138447999954224,
 0.3814866542816162,
 0.3059529662132263,
 0.3580169677734375,
 0.39617136120796204,
 0.3716232478618622,
 0.4078485667705536,
 0.4362849295139313,
 0.39852210879325867,
 0.3027643859386444,
 0.48513951897621155,
 0.29050740599632263,
 0.37553516030311584,
 0.46797633171081543,
 0.4733406603336334,
 0.3269575536251068,
 0.45667582750320435,
 0.43031468987464905,
 0.4675446152687073,
 0.40856462717056274,
 0.4780184328556061,
 0.5311504006385803,
 0.3394596576690674,
 0.4801177680492401,
 0.33452388644218445,
 0.43617650866508484,
 0.4655314087867737,
 0.5377910137176514,
 0.3383314907550812,
 0.5024172067642212,
 0.33692070841789246,
 0.37610000371932983,
 0.4326188862323761,
 0.4796258807182312,
 0.4274463653564453,
 0.3530924618244171,
 0.3962974548339844,
 0.314399391412735,
 0.39096614718437195,
 0.3886750340461731,
 0.48683395981788635,
 0.4520958662033081,
 0.44090795516967773,
 0.4537988603115082,
 0.28668996691703796,
 0.40716221928596497,
 0.3908052146434784,
 0.4415470361709595,
 0.4767780303955078,
 0.38137286901474,
 0.4701451063156128,
 0.521875262260437,
 0.47878938913345337,
 0.34396257996559143,
 0.4689220190048218,
 0.44207608699798584,
 0.4210697114467621,
 0.2784183919429779,
 0.33271297812461853,
 0.4867298901081085,
 0.46456652879714966,
 0.3609172999858856,
 0.45418381690979004,
 0.40412214398384094,
 0.3586411774158478,
 0.40613800287246704,
 0.42767807841300964,
 0.4119453728199005,
 0.3896588087081909,
 0.48548153042793274,
 0.43436169624328613,
 0.4749149680137634,
 0.42466527223587036,
 0.4736960828304291,
 0.48533111810684204,
 0.5006297826766968,
 0.5257447957992554,
 0.35352781414985657,
 0.3038965165615082,
 0.4133845567703247,
 0.29987916350364685,
 0.324240118265152,
 0.3177914023399353,
 0.339264452457428,
 0.3884681165218353,
 0.48223695158958435,
 0.38926491141319275,
 0.423491507768631,
 0.3179306089878082,
 0.490815132856369,
 0.30618852376937866,
 0.4312891364097595,
 0.42934945225715637,
 0.47615182399749756,
 0.44998976588249207,
 0.4779198169708252,
 0.49248385429382324,
 0.5316500663757324,
 0.42004647850990295,
 0.4095748960971832,
 0.46805718541145325,
 0.40973609685897827,
 0.4510348439216614,
 0.38869717717170715,
 0.34321102499961853,
 0.43347129225730896,
 0.4574831426143646,
 0.4766876995563507,
 0.4261395037174225,
 0.39450836181640625,
 0.43781429529190063,
 0.40419596433639526,
 0.4358961880207062,
 0.3207342028617859,
 0.45669910311698914,
 0.35200050473213196,
 0.4590070843696594,
 0.3356764614582062,
 0.5692543387413025,
 0.5087312459945679,
 0.38135144114494324,
 0.41492679715156555,
 0.31153833866119385,
 0.3000774085521698,
 0.460931658744812,
 0.44485270977020264,
 0.5175408720970154,
 0.41310951113700867,
 0.46755221486091614,
 0.5187140107154846,
 0.4804352819919586,
 0.41262131929397583,
 0.4660819470882416,
 0.4503556489944458,
 0.2878153920173645,
 0.372244268655777,
 0.4473699629306793,
 0.3326864242553711,
 0.3214474320411682,
 0.4237739145755768,
 0.49328190088272095,
 0.4316383898258209,
 0.30152571201324463,
 0.5396961569786072,
 0.37916070222854614,
 0.4716261029243469,
 0.45001739263534546,
 0.45402687788009644,
 0.3408524990081787,
 0.3383583724498749,
 0.4404478967189789,
 0.47159990668296814,
 0.4434223175048828,
 0.5400892496109009,
 0.4582051634788513,
 0.4498767554759979,
 0.47292453050613403,
 0.4671020209789276,
 0.36642202734947205,
 0.45323264598846436,
 0.36116424202919006,
 0.5387703776359558,
 0.4372919797897339,
 0.3181106746196747,
 0.36849620938301086,
 0.4547348916530609,
 0.4379061460494995,
 0.32155558466911316,
 0.4696565568447113]

In [53]:
train['outputscore']=output_movie_train

In [54]:
train

,size1,size2,date_x,integer_x,string_x,time_x,date_y,integer_y,string_y,time_y,outputscore
0,3,4,0,0,1,0,1,0,0,0,0.451277
1,3,15,0,0,1,0,0,0,1,0,0.330663
2,3,12,0,0,1,0,0,0,1,0,0.459329
3,3,8,0,0,1,0,0,0,0,1,0.454135
4,7,3,0,0,1,0,0,0,1,0,0.416401
...,...,...,...,...,...,...,...,...,...,...,...
749,30,3,0,1,0,0,0,0,1,0,0.368496
750,30,4,0,1,0,0,1,0,0,0,0.454735
751,30,15,0,1,0,0,0,0,1,0,0.437906
752,30,12,0,1,0,0,0,0,1,0,0.321556
753,30,8,0,1,0,0,0,0,0,1,0.469657

In [55]:
train_label

0      0
1      0
2      0
3      0
4      0
      ..
749    0
750    0
751    0
752    0
753    0
Name: label_x, Length: 754, dtype: int64

In [56]:
train.to_csv('4_train_encode.csv',index=False)
train_label.to_csv('4_train_label.csv',index=False)

In [ ]:
#val

In [63]:
import json
import pandas as pd

In [64]:
val=pd.read_excel('./val_thalia.xlsx')

In [65]:
val

,source,target,des1,des2,label
0,fsu./Course/Detail/Bldg/Days,arizona./Course/Day,fsu. Course Detail Bldg Days,arizona. Course Day,1
1,hku./Course/Term,harvard./Course/Number,hku. Course Term,harvard. Course Number,0
2,gatech./Course/Description,arizona./Course/Day,gatech. Course Description,arizona. Course Day,0
3,cmu./Course/Time,bu./course/courseInfo/schedule/days,cmu. Course Time,bu. course courseInfo schedule days,0
4,fsu./Course/Detail/Bldg/TimeEnd,arizona./Course/Time,fsu. Course Detail Bldg TimeEnd,arizona. Course Time,1
...,...,...,...,...,...
111,ucla./Course/CourseInfo/Section,rit./Course/#id,ucla. Course CourseInfo Section,rit. Course #id,0
112,gatech./Course/Mode,arizona./Course/@Code,gatech. Course Mode,arizona. Course @Code,0
113,cmu./Course/Day,bu./course/courseInfo/schedule/days,cmu. Course Day,bu. course courseInfo schedule days,0
114,nyu./Course/CallNo,gatech./Course/Room,nyu. Course CallNo,gatech. Course Room,0
115,fsu./Course/Detail/Bldg/BldgCode,arizona./Course/Time,fsu. Course Detail Bldg BldgCode,arizona. Course Time,0

In [66]:
match=pd.read_excel('match.xlsx')
match=match.loc[:,~match.columns.str.match("Unnamed")]
match

,source,target,size1,size2,type1,type2,label
0,bu./course/college,arizona./Course/@Code,3,3,string,string,0
1,bu./course/college,arizona./Course/Day,3,4,string,date,0
2,bu./course/college,arizona./Course/Instructor,3,15,string,string,0
3,bu./course/college,arizona./Course/Place,3,12,string,string,0
4,bu./course/college,arizona./Course/Time,3,8,string,time,0
...,...,...,...,...,...,...,...
997,fsu./Course/Section/#agg,arizona./Course/@Code,30,3,integer,string,0
998,fsu./Course/Section/#agg,arizona./Course/Day,30,4,integer,date,0
999,fsu./Course/Section/#agg,arizona./Course/Instructor,30,15,integer,string,0
1000,fsu./Course/Section/#agg,arizona./Course/Place,30,12,integer,string,0
1001,fsu./Course/Section/#agg,arizona./Course/Time,30,8,integer,time,0

In [67]:
val=pd.merge(match,val,on=['source','target']).drop(columns=['des1','des2'])
val

,source,target,size1,size2,type1,type2,label_x,label_y
0,bu./course/college,arizona./Course/@Code,3,3,string,string,0,0
1,bu./course/courseInfo/schedule/room,arizona./Course/Time,6,8,string,time,0,0
2,bu./course/courseInfo/schedule/time,arizona./Course/@Code,8,3,time,string,0,0
3,bu./course/courseInfo/schedule/time,arizona./Course/Instructor,8,15,time,string,0,0
4,bu./course/courseInfo/title,arizona./Course/Instructor,20,15,string,string,0,0
...,...,...,...,...,...,...,...,...
111,fsu./Course/Detail/Seats,arizona./Course/@Code,45,3,integer,string,0,0
112,fsu./Course/Detail/Seats,arizona./Course/Instructor,45,15,integer,string,0,0
113,fsu./Course/Detail/Seats/#agg,arizona./Course/Instructor,45,15,integer,string,0,0
114,fsu./Course/Detail/Title,arizona./Course/Day,20,4,string,date,0,0
115,fsu./Course/Detail/Title,arizona./Course/Place,20,12,string,string,0,0

In [68]:
type1=pd.get_dummies(val['type1'])
type1=type1.add_suffix('_x')
type2=pd.get_dummies(val['type2'])
type2
type2=type2.add_suffix('_y')
type12=pd.concat([type1,type2],axis=1,join='inner')
type12

     date_x  integer_x  string_x  time_x  date_y  integer_y  string_y  time_y
0         0          0         1       0       0          0         1       0
1         0          0         1       0       0          0         0       1
2         0          0         0       1       0          0         1       0
3         0          0         0       1       0          0         1       0
4         0          0         1       0       0          0         1       0
..      ...        ...       ...     ...     ...        ...       ...     ...
111       0          1         0       0       0          0         1       0
112       0          1         0       0       0          0         1       0
113       0          1         0       0       0          0         1       0
114       0          0         1       0       1          0         0       0
115       0          0         1       0       0          0         1       0

[116 rows x 8 columns]

In [69]:
val=pd.concat([val,type12],axis=1,join='inner')
val_label=val['label_x']
val=val.drop(columns=['source','target','type2','type1','label_x','label_y'])
val

,size1,size2,date_x,integer_x,string_x,time_x,date_y,integer_y,string_y,time_y
0,3,3,0,0,1,0,0,0,1,0
1,6,8,0,0,1,0,0,0,0,1
2,8,3,0,0,0,1,0,0,1,0
3,8,15,0,0,0,1,0,0,1,0
4,20,15,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
111,45,3,0,1,0,0,0,0,1,0
112,45,15,0,1,0,0,0,0,1,0
113,45,15,0,1,0,0,0,0,1,0
114,20,4,0,0,1,0,1,0,0,0
115,20,12,0,0,1,0,0,0,1,0

In [94]:
f=open('./thalia_SMAT/4_val_raw_outputs.json',)
movie_train_raw = json.load(f)
movie_train_raw.keys()
for b in range(1):
    a=movie_train_raw['batch_'+str(b)]
    if not b==0:
        movie_train_raw['batch_0'].extend(a)

In [95]:
len(movie_train_raw['batch_0'])
import torch
import torch.nn as nn
tversion=torch.tensor(movie_train_raw['batch_0'])
m=torch.nn.Softmax(dim=1)
output_movie_train=[i[1] for i in m(tversion).tolist()]
output_movie_train

[0.4623488485813141,
 0.46351343393325806,
 0.4769400954246521,
 0.3755214810371399,
 0.48071855306625366,
 0.29731065034866333,
 0.43561938405036926,
 0.3250267803668976,
 0.48883283138275146,
 0.4773642420768738,
 0.3440663516521454,
 0.3238012492656708,
 0.30503255128860474,
 0.3290374279022217,
 0.4759880304336548,
 0.4504464566707611,
 0.3286183476448059,
 0.455157071352005,
 0.3173369765281677,
 0.3527626693248749,
 0.42683374881744385,
 0.48774296045303345,
 0.4192444086074829,
 0.40783268213272095,
 0.5223124027252197,
 0.4463340938091278,
 0.470796138048172,
 0.48234471678733826,
 0.4396290183067322,
 0.5347381234169006,
 0.49586090445518494,
 0.2944045066833496,
 0.4384286403656006,
 0.5262641906738281,
 0.4519351124763489,
 0.4619879126548767,
 0.38470572233200073,
 0.32852980494499207,
 0.47137323021888733,
 0.3552657663822174,
 0.36690524220466614,
 0.28883635997772217,
 0.48446395993232727,
 0.38723042607307434,
 0.4332224130630493,
 0.34424495697021484,
 0.39245057106018066,
 0.4790395200252533,
 0.47618281841278076,
 0.4625706076622009,
 0.4935454726219177,
 0.5268184542655945,
 0.45989829301834106,
 0.39179131388664246,
 0.4217655062675476,
 0.4549856185913086,
 0.46890562772750854,
 0.4528757929801941,
 0.3380177617073059,
 0.4746864140033722,
 0.4633457660675049,
 0.436672568321228,
 0.3106411099433899,
 0.48056232929229736,
 0.2916772961616516,
 0.3898520767688751,
 0.33268091082572937,
 0.3140541613101959,
 0.5078849792480469,
 0.4398277699947357,
 0.4735317826271057,
 0.41474804282188416,
 0.5454813241958618,
 0.43957144021987915,
 0.45161929726600647,
 0.4190138280391693,
 0.33875665068626404,
 0.34141242504119873,
 0.4176684021949768,
 0.4270622432231903,
 0.435515433549881,
 0.46482759714126587,
 0.3500721752643585,
 0.46526286005973816,
 0.4535863399505615,
 0.47647011280059814,
 0.37813928723335266,
 0.4210238754749298,
 0.42883020639419556,
 0.4711240828037262,
 0.39300671219825745,
 0.42616093158721924,
 0.33625027537345886,
 0.30751505494117737,
 0.3444069027900696,
 0.44133585691452026,
 0.40140247344970703,
 0.5196038484573364,
 0.39080074429512024,
 0.43999385833740234,
 0.40485435724258423,
 0.425051748752594,
 0.3492334485054016,
 0.347322553396225,
 0.463259756565094,
 0.3230569660663605,
 0.45661336183547974,
 0.4139494001865387,
 0.48671868443489075,
 0.5137278437614441,
 0.4678465723991394,
 0.4032173156738281,
 0.3762853741645813,
 0.37401410937309265,
 0.31609705090522766,
 0.448907732963562]

In [96]:
val['outputscore']=output_movie_train

In [97]:
val

,size1,size2,date_x,integer_x,string_x,time_x,date_y,integer_y,string_y,time_y,outputscore
0,3,3,0,0,1,0,0,0,1,0,0.462349
1,6,8,0,0,1,0,0,0,0,1,0.463513
2,8,3,0,0,0,1,0,0,1,0,0.476940
3,8,15,0,0,0,1,0,0,1,0,0.375521
4,20,15,0,0,1,0,0,0,1,0,0.480719
...,...,...,...,...,...,...,...,...,...,...,...
111,45,3,0,1,0,0,0,0,1,0,0.403217
112,45,15,0,1,0,0,0,0,1,0,0.376285
113,45,15,0,1,0,0,0,0,1,0,0.374014
114,20,4,0,0,1,0,1,0,0,0,0.316097
115,20,12,0,0,1,0,0,0,1,0,0.448908

In [98]:
val_label

0      0
1      0
2      0
3      0
4      0
      ..
111    0
112    0
113    0
114    0
115    0
Name: label_x, Length: 116, dtype: int64

In [99]:
val.to_csv('4_val_encode.csv',index=False)
val_label.to_csv('4_val_label.csv',index=False)

In [ ]:
#test

In [100]:
import json
import pandas as pd

In [101]:
val=pd.read_excel('./test_thalia.xlsx')

In [102]:
val

,source,target,des1,des2,label
0,nyu./Course/Room,gatech./Course/Code,nyu. Course Room,gatech. Course Code,0
1,nyu./Course/Time,ksu./Course/Details/Room,nyu. Course Time,ksu. Course Details Room,0
2,nyu./Course/No,ksu./Course/Title,nyu. Course No,ksu. Course Title,0
3,ucla./Course/CourseInfo/Room,rit./Course/Section/Instructor,ucla. Course CourseInfo Room,rit. Course Section Instructor,0
4,ucla./Course/CourseInfo/Section,rit./Course/Section/Instructor,ucla. Course CourseInfo Section,rit. Course Section Instructor,0
...,...,...,...,...,...
127,washu./Course/Instructor,fiu./Course/Prereq,washu. Course Instructor,fiu. Course Prereq,0
128,nyu./Course/Days,gatech./Course/Description,nyu. Course Days,gatech. Course Description,0
129,yale./Course/Instructor,gatech./Course/Code/#agg,yale. Course Instructor,gatech. Course Code #agg,0
130,toronto./course/coursewebsite,metu./Course/@Code,toronto. course coursewebsite,metu. Course @Code,0
131,uiuc./BannerNumber/UIDirectNumber,hku./Course/CourseSite,uiuc. BannerNumber UIDirectNumber,hku. Course CourseSite,0

In [103]:
match=pd.read_excel('match.xlsx')
match=match.loc[:,~match.columns.str.match("Unnamed")]
match

,source,target,size1,size2,type1,type2,label
0,bu./course/college,arizona./Course/@Code,3,3,string,string,0
1,bu./course/college,arizona./Course/Day,3,4,string,date,0
2,bu./course/college,arizona./Course/Instructor,3,15,string,string,0
3,bu./course/college,arizona./Course/Place,3,12,string,string,0
4,bu./course/college,arizona./Course/Time,3,8,string,time,0
...,...,...,...,...,...,...,...
997,fsu./Course/Section/#agg,arizona./Course/@Code,30,3,integer,string,0
998,fsu./Course/Section/#agg,arizona./Course/Day,30,4,integer,date,0
999,fsu./Course/Section/#agg,arizona./Course/Instructor,30,15,integer,string,0
1000,fsu./Course/Section/#agg,arizona./Course/Place,30,12,integer,string,0
1001,fsu./Course/Section/#agg,arizona./Course/Time,30,8,integer,time,0

In [104]:
val=pd.merge(match,val,on=['source','target']).drop(columns=['des1','des2'])
val

,source,target,size1,size2,type1,type2,label_x,label_y
0,bu./course/courseInfo/instructor,arizona./Course/@Code,10,3,string,string,0,0
1,bu./course/courseInfo/instructor,arizona./Course/Day,10,4,string,date,0,0
2,bu./course/courseInfo/schedule/days,arizona./Course/Place,4,12,date,string,0,0
3,bu./course/courseInfo/schedule/room,arizona./Course/@Code,6,3,string,string,0,0
4,bu./course/courseInfo/schedule/room,arizona./Course/Instructor,6,15,string,string,0,0
...,...,...,...,...,...,...,...,...
127,fsu./Course/Detail/SeatsOpen,arizona./Course/Day,35,4,integer,date,0,0
128,fsu./Course/Detail/SeatsOpen,arizona./Course/Place,35,12,integer,string,0,0
129,fsu./Course/Detail/SeatsOpen/#agg,arizona./Course/Time,35,8,integer,time,0,0
130,fsu./Course/ReferenceNo,arizona./Course/@Code,4,3,string,string,0,0
131,fsu./Course/ReferenceNo,arizona./Course/Place,4,12,string,string,0,0

In [105]:
type1=pd.get_dummies(val['type1'])
type1=type1.add_suffix('_x')
type2=pd.get_dummies(val['type2'])
type2
type2=type2.add_suffix('_y')
type12=pd.concat([type1,type2],axis=1,join='inner')
type12

     date_x  integer_x  string_x  time_x  date_y  integer_y  string_y  time_y
0         0          0         1       0       0          0         1       0
1         0          0         1       0       1          0         0       0
2         1          0         0       0       0          0         1       0
3         0          0         1       0       0          0         1       0
4         0          0         1       0       0          0         1       0
..      ...        ...       ...     ...     ...        ...       ...     ...
127       0          1         0       0       1          0         0       0
128       0          1         0       0       0          0         1       0
129       0          1         0       0       0          0         0       1
130       0          0         1       0       0          0         1       0
131       0          0         1       0       0          0         1       0

[132 rows x 8 columns]

In [106]:
val=pd.concat([val,type12],axis=1,join='inner')
val_label=val['label_x']
val=val.drop(columns=['source','target','type2','type1','label_x','label_y'])
val

,size1,size2,date_x,integer_x,string_x,time_x,date_y,integer_y,string_y,time_y
0,10,3,0,0,1,0,0,0,1,0
1,10,4,0,0,1,0,1,0,0,0
2,4,12,1,0,0,0,0,0,1,0
3,6,3,0,0,1,0,0,0,1,0
4,6,15,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
127,35,4,0,1,0,0,1,0,0,0
128,35,12,0,1,0,0,0,0,1,0
129,35,8,0,1,0,0,0,0,0,1
130,4,3,0,0,1,0,0,0,1,0
131,4,12,0,0,1,0,0,0,1,0

In [131]:
f=open('./thalia_SMAT/4_test_raw_outputs.json',)
movie_train_raw = json.load(f)
movie_train_raw.keys()
for b in range(1):
    a=movie_train_raw['batch_'+str(b)]
    if not b==0:
        movie_train_raw['batch_0'].extend(a)

In [132]:
len(movie_train_raw['batch_0'])
import torch
import torch.nn as nn
tversion=torch.tensor(movie_train_raw['batch_0'])
m=torch.nn.Softmax(dim=1)
output_movie_train=[i[1] for i in m(tversion).tolist()]
output_movie_train

[0.31432896852493286,
 0.3302477300167084,
 0.3930324912071228,
 0.46527618169784546,
 0.47138527035713196,
 0.44164761900901794,
 0.2974220812320709,
 0.47092780470848083,
 0.5363446474075317,
 0.3809254467487335,
 0.47677314281463623,
 0.437847763299942,
 0.3253156244754791,
 0.46526598930358887,
 0.41728177666664124,
 0.47593021392822266,
 0.3565618693828583,
 0.4122644066810608,
 0.45783284306526184,
 0.44119030237197876,
 0.4471026360988617,
 0.31158682703971863,
 0.4217336177825928,
 0.46489036083221436,
 0.31842246651649475,
 0.43086567521095276,
 0.43997350335121155,
 0.35912197828292847,
 0.46108853816986084,
 0.4509117305278778,
 0.3387758731842041,
 0.3444482088088989,
 0.4574289917945862,
 0.2919614017009735,
 0.46034616231918335,
 0.48050859570503235,
 0.4242519736289978,
 0.3924056887626648,
 0.3736828565597534,
 0.3185330927371979,
 0.32596680521965027,
 0.3484002947807312,
 0.5087298154830933,
 0.4958277940750122,
 0.44591447710990906,
 0.4139067530632019,
 0.4522644877433777,
 0.38942453265190125,
 0.39056578278541565,
 0.44373685121536255,
 0.3296228349208832,
 0.2947724163532257,
 0.4396100640296936,
 0.3919994831085205,
 0.45326054096221924,
 0.445252001285553,
 0.29391777515411377,
 0.3010428249835968,
 0.3274790048599243,
 0.4489918053150177,
 0.317167192697525,
 0.41637924313545227,
 0.3672347068786621,
 0.36358311772346497,
 0.36054226756095886,
 0.4098540246486664,
 0.4966541826725006,
 0.40893831849098206,
 0.49391037225723267,
 0.43278467655181885,
 0.43416985869407654,
 0.4795127511024475,
 0.4716778099536896,
 0.4780192971229553,
 0.5220296382904053,
 0.31619223952293396,
 0.35271817445755005,
 0.33047738671302795,
 0.5222882628440857,
 0.4707834720611572,
 0.45844972133636475,
 0.5258430242538452,
 0.40966397523880005,
 0.48171788454055786,
 0.47165238857269287,
 0.4229171574115753,
 0.440775066614151,
 0.4770147204399109,
 0.4397090673446655,
 0.4335242509841919,
 0.4916570484638214,
 0.2920018136501312,
 0.509750485420227,
 0.4600337743759155,
 0.5373608469963074,
 0.38032087683677673,
 0.5304080843925476,
 0.48210692405700684,
 0.45749568939208984,
 0.46869099140167236,
 0.43141138553619385,
 0.41092851758003235,
 0.4175843894481659,
 0.3136676549911499,
 0.40929508209228516,
 0.4588715732097626,
 0.39461567997932434,
 0.47335827350616455,
 0.5383250713348389,
 0.4261605441570282,
 0.3970988690853119,
 0.3571522831916809,
 0.3244754672050476,
 0.441543310880661,
 0.5762057304382324,
 0.4377945065498352,
 0.4992128312587738,
 0.4278011620044708,
 0.4780876636505127,
 0.40972980856895447,
 0.49288323521614075,
 0.3434726297855377,
 0.4575723111629486,
 0.49927201867103577,
 0.43848466873168945,
 0.4361056983470917,
 0.3353128433227539,
 0.49762436747550964,
 0.3419325053691864,
 0.41018354892730713,
 0.40298306941986084,
 0.4966064393520355]

In [133]:
val['outputscore']=output_movie_train

In [134]:
val

,size1,size2,date_x,integer_x,string_x,time_x,date_y,integer_y,string_y,time_y,outputscore
0,10,3,0,0,1,0,0,0,1,0,0.314329
1,10,4,0,0,1,0,1,0,0,0,0.330248
2,4,12,1,0,0,0,0,0,1,0,0.393032
3,6,3,0,0,1,0,0,0,1,0,0.465276
4,6,15,0,0,1,0,0,0,1,0,0.471385
...,...,...,...,...,...,...,...,...,...,...,...
127,35,4,0,1,0,0,1,0,0,0,0.497624
128,35,12,0,1,0,0,0,0,1,0,0.341933
129,35,8,0,1,0,0,0,0,0,1,0.410184
130,4,3,0,0,1,0,0,0,1,0,0.402983
131,4,12,0,0,1,0,0,0,1,0,0.496606

In [135]:
val_label

0      0
1      0
2      0
3      0
4      0
      ..
127    0
128    0
129    0
130    0
131    0
Name: label_x, Length: 132, dtype: int64

In [136]:
val.to_csv('4_test_encode.csv',index=False)
val_label.to_csv('4_test_label.csv',index=False)