In [17]:
import pandas as pd

In [18]:
match=pd.read_excel("./dataset/match.xlsx").drop(columns=['Unnamed: 0'])

In [19]:
sum(match['label'])

66

In [20]:
match.set_index(keys=["source"],inplace=True)

In [21]:
match.sort_index(inplace=True)
nOmop=match['target'].nunique()
nOmop

45

In [22]:
match

                         target  label
source
agent_email    agent_first_name      0
agent_email            agent_id      0
agent_email       agent_id/#agg      0
agent_email     agent_last_name      0
agent_email          bath_rooms      0
...                         ...    ...
water/#agg             agent_id      0
water/#agg        agent_id/#agg      0
water/#agg      agent_last_name      0
water/#agg           agent_name      0
water/#agg   agent_phone_number      0

[1323 rows x 2 columns]

In [27]:
label=match.iloc[0:,1]
input1=label.groupby(label.index).sum()

input2=input1.head(10)
print (input1)

source
agent_email            1
agent_name             5
agent_phone            3
building_area          2
building_area/#agg     2
electricity            1
electricity/#agg       1
fireplace              0
fireplace/#agg         0
firm_address           6
firm_name              1
garage                 2
garage/#agg            2
house_address          5
house_description      1
house_price            1
lot_area               4
lot_area/#agg          4
num_rooms             10
num_rooms/#agg         8
school                 0
sewer                  1
sewer/#agg             1
type                   1
utilities              2
water                  1
water/#agg             1
Name: label, dtype: int64

In [28]:
freq={}
for k,v in input1.iteritems():
    if v in freq:
        freq[v].append(k)
    else:
        freq[v]=[k]

freq

{1: ['agent_email',
  'electricity',
  'electricity/#agg',
  'firm_name',
  'house_description',
  'house_price',
  'sewer',
  'sewer/#agg',
  'type',
  'water',
  'water/#agg'],
 5: ['agent_name', 'house_address'],
 3: ['agent_phone'],
 2: ['building_area',
  'building_area/#agg',
  'garage',
  'garage/#agg',
  'utilities'],
 0: ['fireplace', 'fireplace/#agg', 'school'],
 6: ['firm_address'],
 4: ['lot_area', 'lot_area/#agg'],
 10: ['num_rooms'],
 8: ['num_rooms/#agg']}

In [29]:
matches=pd.read_excel("./dataset/match.xlsx")
totalones=len(matches[matches['label']==1])
totalCols=len(input1)
print (totalones)
print (totalCols)

66
27

In [30]:
import numpy as np

np.random.choice(freq[1])

'electricity/#agg'

In [31]:
nVal=int(totalones*0.1)
nValCols=int(0.1*totalCols)
val=[]
while nVal>0 and len(val)<nValCols:
    newChoice=np.random.choice(nVal+1,1)[0]
    if int(newChoice) in freq:
        if len(freq[newChoice])>0:
            print ("newChoiceselected")
            print (newChoice)
            decision=np.random.choice(freq[newChoice])
            val.append(decision)
            freq[newChoice].remove(decision)
            nVal=nVal-newChoice
while len(val)<nValCols:
    decision=np.random.choice(freq[0])
    val.append(decision)
    freq[0].remove(decision)
print (val)

newChoiceselected
6
['firm_address', 'fireplace']

In [32]:
nTest=int(totalones*0.1)
nTestCols=int(0.1*totalCols)
test=[]
while nTest>0 and len(test)<nTestCols:
    newChoice=np.random.choice(nTest+1,1)[0]
    if int(newChoice) in freq:
        if len(freq[newChoice])>0:
            print ("newChoiceselected")
            print (newChoice)
            decision=np.random.choice(freq[newChoice])
            test.append(decision)
            freq[newChoice].remove(decision)
            nTest=nTest-newChoice
while len(test)<nTestCols:
    decision=np.random.choice(freq[0])
    test.append(decision)
    freq[0].remove(decision)
print (test)

newChoiceselected
5
newChoiceselected
1
['agent_name', 'water/#agg']

In [33]:
train=[]
for i in freq:
    if len(freq[i])>0:
        for item in freq[i]:
            train.append(item)

In [43]:
training=pd.DataFrame()
writer1 = pd.ExcelWriter('./train_realestate.xlsx', engine='xlsxwriter')
for m in train:
    training=training.append(matches.loc[matches['source']==m])
training=training.drop(columns=['Unnamed: 0'])
training.to_excel(writer1,sheet_name='realestate_train',index=False)
print (len(training))
writer1.save()
type(training['label'][0])

1127

numpy.int64

In [44]:
validating=pd.DataFrame()
writer2=pd.ExcelWriter('./val_realestate.xlsx',engine='xlsxwriter')
for m in val:
    validating=validating.append(matches.loc[matches['source']==m])
print (len(validating))
validating=validating.drop(columns=['Unnamed: 0'])
validating.to_excel(writer2,sheet_name='realestate_val',index=False)
writer2.save()
print (val)

98
['firm_address', 'fireplace']

In [45]:
testing=pd.DataFrame()
writer3=pd.ExcelWriter('./test_realestate.xlsx',engine='xlsxwriter')
for m in test:
    testing=testing.append(matches.loc[matches['source']==m])
print (len(testing))
testing=testing.drop(columns=['Unnamed: 0'])
testing.to_excel(writer3,sheet_name='realestate_test',index=False)
writer3.save()
print (test)

98
['agent_name', 'water/#agg']

In [46]:
testing

          source              target  label
49    agent_name    agent_first_name      1
50    agent_name            agent_id      0
51    agent_name       agent_id/#agg      0
52    agent_name     agent_last_name      1
53    agent_name          bath_rooms      0
...          ...                 ...    ...
1318  water/#agg            agent_id      0
1319  water/#agg       agent_id/#agg      0
1320  water/#agg     agent_last_name      0
1321  water/#agg          agent_name      0
1322  water/#agg  agent_phone_number      0

[98 rows x 3 columns]

In [47]:
validating

           source              target  label
441  firm_address    agent_first_name      0
442  firm_address            agent_id      0
443  firm_address       agent_id/#agg      0
444  firm_address     agent_last_name      0
445  firm_address          bath_rooms      0
..            ...                 ...    ...
387     fireplace            agent_id      0
388     fireplace       agent_id/#agg      0
389     fireplace     agent_last_name      0
390     fireplace          agent_name      0
391     fireplace  agent_phone_number      0

[98 rows x 3 columns]

In [48]:
training

             source              target  label
0       agent_email    agent_first_name      0
1       agent_email            agent_id      0
2       agent_email       agent_id/#agg      0
3       agent_email     agent_last_name      0
4       agent_email          bath_rooms      0
..              ...                 ...    ...
975  num_rooms/#agg            agent_id      0
976  num_rooms/#agg       agent_id/#agg      0
977  num_rooms/#agg     agent_last_name      0
978  num_rooms/#agg          agent_name      0
979  num_rooms/#agg  agent_phone_number      0

[1127 rows x 3 columns]